<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>歷史資料</title>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>

        <div class="container" id="app">
		  <div th:replace="fragments/common :: header"></div>
            <br>
            <nav class="navbar navbar-dark bg-dark">
                <div class="form-inline float-left">
                   <h3 class="text-light bg-dark">{{school}}</h3>
                </div>
            </nav>
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">year</th>
                            <th scope="col">試場</th>
                            <th scope="col">人數</th>
                            <th scope="col">場次</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item,index) in items">
                                <td>{{index+1}}</td>
                                <td>{{item.year}}</td>
                                <td>{{item.location}}</td>
                                <td>
                                    <div> {{item.members}} </div>
                                </td>
                              <td><div> {{item.description}} </div></td>

                          </tr>
                        
                        </tbody>
                      </table>

        </div>

        <footer>
            <script th:inline="javascript">
            /*<![CDATA[*/
            Vue.prototype.$http = axios;
            let config = {
                headers: {
                    'content-type': 'application/json;CHARSET=UTF-8'
                }
            };
    
            var app = new Vue({
                el: '#app',
                data: {
                    msg: 'Hello world!',
                    school:  /*[[${school}]]*/ 'default',
                    items: {},                    
                },
                created: function() {
                    let vm = this;
                    let url =  "/api/archive/school/" + this.school;
    
                    this.$http.get(url, config).then((response) => {
                        vm.items = response.data;
                        console.log(vm.items);
    
                    }, (response) => {
                        // error callback
                    });
    
    
                }
            })
    
             /*]]>*/
            </script>
        </footer>



    </body>
</html>
