<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="" name="author">
    <title>得分</title>


    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">

    <!--        <link rel="stylesheet"-->
    <!--            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
    <!--        <script-->
    <!--            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--        <script-->
    <!--            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->
    <!--        <script-->
    <!--            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/FileSaver.min.js"></script>

</head>
<body>

<div class="container" id="app">
    <div th:replace="fragments/common :: header"></div>
    <br>


    <div class="d-flex flex-row bd-highlight mb-3">
        <select class="form-select" v-model="selectedA">
            <option disabled value="">選擇行政區</option>
            <option v-bind:value="option.value" v-for="option in optionsA">
                {{ option.text }}
            </option>
        </select>
        <button class="btn btn-outline-info" v-on:click="getArea">查詢</button>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight">
        <button class="btn btn-outline-dark" v-on:click="updateAreascores">寫入</button>
    </div>

    {{updateDatetime}}


    <div>
        <table class="table">
            <thead>
            <td>序</td>
            <td>A點</td>
            <td>B點(試場)</td>
            <td>得分</td>
            </thead>
            <tbody>

            <tr v-for="(item, index) in items">


                <td>{{index+1}}</td>
                <td>{{item.startarea}}</td>
                <td>{{item.endarea}}</td>
                <td>
                    <div class="form-group">
                        <input class="form-control" placeholder="scores" v-model="item.scores">
                    </div>
                </td>

            </tr>


            </tbody>
        </table>
    </div>
</div>

<footer>


    <script th:inline="javascript">
        /*<![CDATA[*/

        Vue.prototype.$http = axios;
        let config = {
            headers: {
                'content-type': 'application/json;CHARSET=UTF-8'
            }
        };

        let url =  "/api/scores/area" ;
        var app = new Vue({
            el: '#app',
            data: {
                msg: 'Hello Vue!',
                contestid: /*[[${contestid}]]*/ 'default',
                items: [],
                updateDatetime:'',
                selectedA:'',
                optionsA: [],                    
            },
            created: function() {
                let vm = this;
                let url =  "/api/scores/area" ;

                this.$http.get(url, config).then((response) => {
                    vm.items = response.data;
                    let arraya = [];
                    let optiona = {}

                   

                    vm.items.forEach(item=>{
                        if(!arraya.includes(item.startarea)) {
                            arraya.push(item.startarea);
                            console.log(item.startarea);
                            optiona = {};
                            optiona.text = item.startarea;
                            optiona.value = item.startarea;
                            vm.optionsA.push(optiona);
                        }
                    })

                    optiona = {};
                    optiona.text = '所有行政區';
                    optiona.value = 'all' ;
                    vm.optionsA.push(optiona);

                    // console.log(vm.optionsA);
                   

                }, (response) => {
                    // error callback
                });


            },
            computed: {
                checkLocationSize: function(){
                   
                }
            },
            methods: {
             
                showMsg: function(){
                    console.log("hello");
                },
                getArea: function(){
                    let vm = this;
                    let target = '';

                    
                    if(this.selectedA === 'all'){
                        target = url;
                    } else {
                        target = url+"/"+this.selectedA;
                    }
                    // console.log(target);
                    

                    this.$http.get(target, config).then((response) => {
                        
                        // console.log(response.data);
                        vm.items = response.data;

                    }, (response) => {
                        // error callback
                    });


                },
                updateAreascores: function(){
                    console.log("update areascores");
                    let url = "/api/scores/area";
                    let vm = this ; 
                    this.$http.put(url, vm.items, config).then((response) => {
                   
                        console.log(response.data);
                        vm.updateDatetime = response.data;

                    }, (response) => {
                        // error callback
                    });
                }
               
            }
        })

         /*]]>*/





    </script>
</footer>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
