<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="" name="author">
    <title>contestconfig upload</title>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">


</head>
<body>

<div class="container">
    <div th:replace="fragments/common :: header"></div>
    <h2>競賽設定 - Upload json</h2>

    <form enctype="multipart/form-data" method="POST"
          th:action="@{'/contestconfig/upload'}">

        <div class="input-group mb-1">

            <div class="custom-file">
                <input class="custom-file-input" id="validatedCustomFile" name="file" required type="file">
                <label class="custom-file-label" for="validatedCustomFile">選擇檔案</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-dark"
                            type="submit"
                            value="Upload">確定
                    </button>
                </div>


            </div>
        </div>
    </form>

    <div class="form-group row">
        <div class="col-md-4 mb-3">
            <a class="btn btn-outline-primary stretched-link" href="/examples/contestconfig.json">範例下載</a>
        </div>

        <div class="col-md-4 mb-3">
            <a class="btn btn-outline-primary stretched-link" href="/api/contestconfig">資料庫記錄</a>
        </div>
    </div>
</div>


</div>
<div th:replace="fragments/common :: footer"></div>

</body>
</html>
