<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>罕用字</title>

        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/FileSaver.min.js"></script>

        <style>
        .navbar-custom {
            color: #FFFFFF;
            background-color: #CC3333;
        }
        
        
        </style>
      
    </head>
    <body>
      
        <div class="container" id="app">
		 <div th:replace="fragments/common :: header"></div>

<br>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
     

            <div class="form-inline float-right">              
                
            
                <input v-model="hanzi" type="text" class="form-control" id="inputPassword2" placeholder="">
                
                <button @click="updateHanzi" role="button" class="btn btn-info">新增</button>

                    
            </div>
        </nav>





            <br>       

                <table class="table">
                    <thead>
                        <td>序</td>
                        <td>罕用字</td>
                        <td></td>
                       
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in items">
                            <td>{{index+1}}</td>
                            <td>{{item.characters}}</td>
                            <td><button @click="deleteHanzi(item.characters)" role="button" class="btn btn-danger">DELETE</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <footer>





    <script th:inline="javascript">
        /*<![CDATA[*/

        Vue.prototype.$http = axios;
        let config = {
            headers: {
                'content-type': 'application/json;CHARSET=UTF-8'
            }
        };

      
        var app = new Vue({
            el: '#app',
            data: {
                msg: 'Hello Vue!',
            
                items: [],
                hanzi:'',
            },
            created: function() {
                let vm = this;
                let url =  "/api/hanzi" ;

                this.$http.get(url, config).then((response) => {
                    vm.items = response.data;
                    console.log(response.data);

                }, (response) => {
                    // error callback
                });


            },
            computed: {
                say: function(){
                   
                }
            },
            methods: {
             
                showMsg: function(){
                    console.log("hello");
                },
                updateHanzi: function(){
                    let vm = this;
                    let url = "/api/hanzi"
                    this.$http.put(url,
                    {
                         "hanzi": this.hanzi

                    },config)
                    .then((response) => {
                        // success callback
                        console.log(response.data);
                        vm.items = response.data;

                    }, (response) => {
                    // error callback
                    });

                },
                deleteHanzi: function(hanzi){
                   //https://stackoverflow.com/questions/51069552/axios-delete-request-with-body-and-headers
                    let vm = this;
                    let url = "/api/hanzi"
                    let data = {data: {"delete": hanzi}};
                    this.$http.delete(url,data,config)
                    .then((response) => {
                        // success callback
                        console.log(response.data);
                        vm.items = response.data;

                    }, (response) => {
                    // error callback
                    });

                }
               
            }
        })

         /*]]>*/
        </script>
            </footer>


        </body>
    </html>
