<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Pocketlist</title>

        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- <script src="/js/FileSaver.min.js"></script> -->


    </head>
    <body>
        <div class="container" id="app">

            <div th:replace="fragments/common :: header"></div>
            <br>
            <br>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <a class="btn btn-primary" href="pocketlist/location" target="_blank" role="button">依場地排序</a>
                </div>  
                
                    <div class="p-2 bd-highlight">
                        <a class="btn btn-primary" href="pocketlist/player" target="_blank" role="button">依参赛学校排序</a>
                    </div>


                <div class="p-2 bd-highlight">
                    <a class="btn btn-success" href="api/pocketlist/download" role="button">備份</a>
                </div>

                <div class="p-2 bd-highlight">
                    <a class="btn btn-outline-dark" href="pocketlist/upload" role="button">restore</a>
                </div>
            </div>

            <br>
            <br>




            <div>
                
                <table class="table">
                    <h3>各試場人數統計</h3>
                    <thead>
                    <tr>
                        <th scope="col">試場</th>
                        <th scope="col"></th>
                     
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item,key in items">
                        <td> {{key}}</td>
                  
                        <td>
                            <table class="table">
                                <tbody>
                                        <thead>
                                                <tr>
                                                    <th scope="col">場次</th>
                                                    <th scope="col">競賽項目</th>
                                                    <th scope="col">總人數</th>
                                                    <th scope="col">隨身碟</th>
                                                </tr>
                                                </thead>
                                    <tr v-for="location in items[key]">
                                        <td>
                                              {{location.contestid}}
                                        </td>
                                        <td>
                                            <ul class="list-group">
                                                <li v-for="contestitem,key in location.contestitem" class="list-group-item">{{key}}:{{contestitem}}</li>
                                            </ul>
                                        </td>
                                        <td>
                                            {{location.members}}
                                        </td>
                                        <td>
                                            {{location.usbFlashDriveNumbers}}
                                        </td>

                                    </tr>
                                    
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>


        </div>



        <footer>
            <script th:inline="javascript">
        /*<![CDATA[*/
        Vue.prototype.$http = axios;
        let config = {
            headers: {
                'content-type': 'application/json;CHARSET=UTF-8'
            }
        };

        var app = new Vue({
            el: '#app',
            data: {
                uuid: /*[[${uuid}]]*/ 'default',
                contestid: "",
                items: [],
                pending: {},
                checkedOut:'',
                checkedIn:'',
                locations: [],
                updateUrl: ""
            },
            created: function() {
                let vm = this;
                let url =  "api/pocketlist/";
                
                this.$http.get(url, config).then((response) => {
                    vm.items = response.data;
                    //let keys = Object.keys(vm.items);
                    //keys.forEach(key=>{
                    //    console.log(vm.items[key]);

                    //});
                }, (response) => {
                    // error callback
                });


            },
            methods: {
                updatePocketlist:function(){
                    let config = {
                        headers: {
                            'content-type': 'application/json;CHARSET=UTF-8'
                        }
                        
                    };
                    
                    let url = "/api/pocketlist"
                    // this.$http.put(url, JSON.stringify(this.items), config).then((response) => {
                    // // success callback
                    // console.log(response.data);
                        
                    // }, (response) => {
                    // // error callback
                    // });

                }
            }
               
        })

         /*]]>*/
        </script>
        </footer>


    </body>
</html>