<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>VIEWUUID</title>

        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/FileSaver.min.js"></script>


    </head>
    <body>
        <div class="container" id="app">

            <div> CheckedList
             {{checked}}
                <table class="table">
                    <tr v-for="team in pending.teams">
                        <td>
                            {{team}}
                        </td>
                    </tr>
                </table>
            </div>


            <div>
                <!--<p> 場次:{{contestid}} </p>-->
                <table class="table">
                    <thead>
                        <!--<td>代码</td>-->
                        <td>場地</td>
                        <td>電腦数</td>
                        <td>參賽隊-人數-距離</td>
                        <td>

                            <button v-if="checked.length !=0 " @click="addPending" class="btn
                                btn-primary active" role="button"
                                    aria-pressed="true">移出</button>


                            <!--<button @click="downloadReport" class="btn-->
                                <!--btn-primary active" role="button"-->
                                <!--aria-pressed="true">下载</button>-->

                            <a :href="updateUrl" class="btn btn-warning active"
                                role="button" aria-pressed="true">確定寫入</a>

                        </td>
                    </thead>
                    <tbody>
                        <tr v-for="item in items">
                            <!--<td>{{item.location.schoolid}}-->
                            <!--</td>-->
                            <td>

                                {{item.location.name}}
                            </td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="contest in item.location.contestids">
                                        ({{contest.contestid}}){{contest.members}}

                                    </li>
                                </ul>

                            </td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="team in item.teams">
                                        <input type="checkbox" v-bind:value="team.schoolid" v-model="checked">
                                        {{team.name}}({{team.members}})&nbsp;&nbsp;距离:{{team.distance.toFixed(2)}}公里
                                        <table>

                                            <tr>
                                                <td v-for="contest in team.contestids">
                                                    ({{contest.contestid}}){{contest.members}}
                                                </td>
                                            </tr>
                                        </table>
                                        <!--<ul class="list-group">-->
                                            <!--<li v-for="contest in team.contestids">-->
                                                <!--{{contest.contestid}}:{{contest.members}}-->
                                            <!--</li>-->

                                        <!--</ul>-->
                                        <!--<p v-if="(team.ticket.length==6) && (item.location.schoolid != team.ticket)" class="text-danger">-->
                                           <!---->
                                            <!--(  {{team.ticket}}){{team.name}}({{team.members}}) - -->
                                            <!--{{parseInt(team.distance)}} -->
                                          <!---->
                                        <!--</p>-->
                                        <!--<p v-else class="text-info">-->
                                            <!---->
                                            <!--{{team.name}}({{team.members}}) - -->
                                            <!--{{parseInt(team.distance)}}-->
                                           <!---->
                                        <!--</p>-->
                                    </li>
                                </ul>
                            </td>


                        </tr>
                    </tbody>
                </table>

            </div>

            <footer>
                <script th:inline="javascript">
        /*<![CDATA[*/
        Vue.prototype.$http = axios;
        let config = {
            headers: {
                'content-type': 'application/json;CHARSET=UTF-8'
            }
        };

        var app = new Vue({
            el: '#app',
            data: {
                uuid: /*[[${uuid}]]*/ 'default',
                contestid: "",
                items: [],
                pending: [],
                checked:[],
                updateUrl: ""
            },
            created: function() {
                let vm = this;
                let url =  "/api/report/uuid/" + this.uuid;

                this.$http.get(url, config).then((response) => {
                    //vm.items = JSON.parse(response.data.report);
                    JSON.parse(response.data.report).forEach(function(item){
                        if(item.location.schoolid === "999999"){
                            vm.pending.push(item.location)
                        } else {
                            vm.items.push(item);
                        }
                    })


                vm.updateUrl = "/report/" + vm.contestid + "/lock/" + vm.uuid;





                }, (response) => {
                    // error callback
                });


            },
            methods: {
                addPending: function() {
                 console.log(this.checked);
                },
                downloadReport: function(){
                    // /api/report/download/{uuid}
                    let config = {
                        headers: {
                            'content-type': 'application/json;CHARSET=UTF-8'
                        },
                        responseType: 'arraybuffer'
                    };

                    let url = "/api/report/download/"+ this.uuid;
                    let vm = this;
                    this.$http.get(url, config)
                        .then((response) => {
                            var blob = new Blob([response.data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                            saveAs(blob, vm.contestid + '.xlsx');
                        });




                }
            }
        })

         /*]]>*/
        </script>
            </footer>


        </body>
    </html>